[Unit]
Description=S3CPuto WebApp Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/s3cputo
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/opt/s3cputo/venv/bin"

ExecStart=/opt/s3cputo/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
