[Unit]
Description=S3CPuto WebApp Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/s3cp
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/opt/s3cp/venv/bin"

ExecStart=/opt/s3cp/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
